<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Regions</title>
</head>
<body>
<h1>Regions</h1>
<table border="1px">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>RegionalCenter</th>
  </tr>
  <tr th:each="region : ${regions}">
    <td th:text="${region.id}"></td>
    <td><a th:href="@{'/regions/' + ${region.id}}"> <span th:text="${region.name}"></span></a></td>
    <td th:text="${region.regionalCenter}"></td>
  </tr>
</table>
<a href="/static">Back</a>
</body>
</html>