<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATTENTION!</title>
</head>
<body>
<div th:include="fragment/header::headerFragment">
</div>
<table>
<ul>
    <h1>ATTENTION!</h1><br>
    <h2 style="color: #1c87c9">Terms & Privacy</h2>
    ✅ "TourInArmenia" travel is not responsible for items lost during the tour.<br>
    ✅ It is forbidden to occupy a table with your own food during a stop at public food outlets.<br>
    ✅ Participants must have sun protection products (hat, glasses, cream), raincoat, raincoat, warm clothes, alternate clothes and shoes, one day's food if they will not use the mentioned food points and high spirits.
    The return time is indicated as approx.<br>
    ✅ Booking a seat in the car in advance costs 2000 drams. <br>
</ul>
    <ul>
       <h1>ՈՒՇԱԴՐՈՒԹՅՈ՜ՒՆ</h1>
        ✅ «TourInArmenia Ակումբ»-ը պատասխանատվություն չի կրում տուրի ընթացքում կորցրած իրերի համար:<br>
        ✅Հանրային սննդի կետերում կանգառի ժամանակ արգելվում է սեփական սնունդով սեղան զբաղեցնել:<br>
        ✅ Մասնակիցները պետք է ունենան արևապաշտպան միջոցներ (գլխարկ, ակնոց, քսուք), անձրևանոց, անձրևապաշտպան թիկնոց, տաք հագուստ, փոխնորդ հագուստ և կոշիկներ, մեկ օրվա սնունդ, եթե չեն օգտվելու սննդի նշված կետերից և բա՜րձր տրամադրություն:
        Վերադարձի ժամը նշված է մոտավորապես:<br>
        ✅ Մեքենայի մեջ նախօրոք տեղ ամրագրելը արժե 2000 դրամ։<br>
    </ul>
</table>
</body>
</html>