<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tours</title>
</head>
<body>
<h1>Daily Tours</h1>
<table border="1px">
    <!--<div th:if="${currentUser.UserType == 'ADMIN'}">-->
        <a href="/tour/add">Create Tour</a>
    </div>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Region</th>
        <th>Cars</th>
        <th>type</th>
        <th>Price</th>
        <th>Group Size</th>
        <th>Duration</th>
        <th>Image</th>
        <th>Start Date</th>
        <!--   th:if="${currentUser.UserType == 'ADMIN'}"-->>
        <th >Action</th>
    </tr>
    <tr th:each="tour : ${tours}">
        <td th:text="${tour.id}"></td>
        <td th:text="${tour.name}"></td>
        <td th:text="${tour.region.name}"></td>
        <td th:text="${tour.car.name}"></td>
        <td th:text="${tour.item.name}"></td>
        <td th:text="${tour.price}"></td>
        <td th:text="${tour.groupSize}"></td>
        <td th:text="${tour.duration}"></td>
        <td>
            <a th:href="@{'/tour/' +${tour.id}}">
            <img th:if="${tour.picName != null}" th:src="@{/getImage(imageName=${tour.picName})}" width="400"/> </a>
        </td>
        <td th:text="${tour.startDate}"></td>
<!--        <td> <a th:href="@{'/tour/' + ${tour.id}}">More</a>-->
<!--        </td>-->
        <td><a th:href="@{/tour/remove(id=${tour.id})}">Remove</a> </td>
    </tr>
    <a href="/static">Back</a>
</table>

</body>
</html>
