<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update car</title>
</head>
<body>
<a href="/cars">Back</a>
<form action="/admin/updateCar" method="post" enctype="multipart/form-data">
    <input type="text" id="id" name="id"/><br>
 Name: <input type="text" id="name" name="name"/>
    <br>
  Seats: <input type="text" id="seats" name="seats"/>
    <br>
    Image: <input type="file" id="image" name="image"/>
    <br>
    <input type="submit" value="Update"><br>
</form>
</body>
</html>