<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Sightseeing</title>
</head>
<body>

<a href="/regions">back</a><br>
<form action="/item/addSightseeing" method="post" enctype="multipart/form-data">
   Sightseeing: <input type="text" name="name"><br>
   description:<textarea name="description"></textarea><br>
    <select name="type">
        <option value="">Select Type</option>
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
    </select><br>
    <select name="region.id">
        <option th:each="region : ${regions}"
                th:text="${region.name}" th:value="${region.id}"></option>
    </select><br>
  image:  <input type="file" name="image">
    <input type="submit" value="create">
</form>
</body>
</html>