<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
    <style>
        .active{
            color: red;
            font-size: 20px;
        }
        .pagination{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
<div th:include="fragment/header::headerFragment">
</div>
<h2>Select the item and call the item directly Get the booking confirmation directly from the item.</h2>

<form action="/item/search" method="get">
    <select name="regionId">
        <option value="">All Regions</option>
        <option th:each="region : ${regions}"
                th:text="${region.name}" th:value="${region.id}"></option>
    </select>
    <input type="submit" value="Search">
</form>
<table border="1px">
    <!--<div th:if="${currentUser.UserType == 'ADMIN'}">

    </div>-->
    <a href="/item/add">Create item</a><br>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>image</th>
        <th>type</th>
        <th>region</th>
        <th th:if="${currentUser.UserType == 'ADMIN'}">action</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
       <td><a th:href="@{'/item/' + ${item.id}}"> <img th:if="${item.getPicName()!= null}" th:src="@{/getImage(imageName=${item.getPicName()})}" width="400"/></a></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.region.name}"></td>
        <td th:if="${currentUser.UserType == 'ADMIN'}"><a th:href="@{/hotel/remove(id=${item.id})}">Remove</a></td>
    </tr>
    <a href="/">Back</a>
    <div class="pagination">
        <div th:if="${items.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/item(size=${items.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==items.number + 1} ? active"></a>
        </div>
    </div>
</table>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>