<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="fragment/header::headerFragment">
</div>
<a href="/contactUs" style="color: red">Contact Us</a><br>
<a href="/TermsPrivacy" style="color: red">Terms & Privacy! </a><br>
<hr>
<a href="/regions" style="color: red">Regions</a><br>
<a href="/user/register" style="color: #1c87c9" th:if="${currentUser==null}">Register</a>
<hr>

<a href="/item"style="color: #1c87c9" >Hotels</a><br>
<hr>
<a href="/tour">Tours</a>
<br>
<a href="https://armenia.travel/about-armenia/history/"><span style="color: coral">Armenian History</span></a><br>
<a href="/customLogin" style="color: coral" th:if="${currentUser==null}">Login</a>
</body>
</html>